html, body {
   padding:0px;
   margin:0px;
}

body {
    background-color: #f5f4f7;
    font-family: "Lato", serif;
}

.header {
    background-color: #efefef;
    background-image: url(img/back.png);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.3vw;
    color: #7c777c;
    height: 85%;
}

.nav-bar {
    float: left;
    width: 95%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: middle;
    line-height: 6.75vw;
    cursor: default;
}

.nav-bar-sub a {
    float: left;
    margin-left: 15%;
    border: 0px solid #3b7eed;    
}


.company {
    float: left;
    font-size: 5vw;
}
.main {
    font-size: 4vw;
}

.main-text {
    float: left;
    position: absolute;
    margin-left: 12%;
    margin-top: 12%;
}

.blue-text {
    color: #3b7eed;
}

.text-wh {
    text-align: center;
    font-size: 5.5vw;
    font-family: "Josefin Slab", serif;
    color: #55575b;
}


.services-container {
    width: 90%;
    margin-left: 5%;
}

.web {
    float: left;
    width: 40%;
    margin-left: 6%;
    height: 95%;
}

.mobile {
    float: left;
    width: 40%;
    margin-left: 6%;
    height: 95%;
}

.services-title {
    text-align: center;
    font-size: 3vw;
}

.web-list {
    margin-left: 10%;
    font-size: 1.5vw;
}